---
layout: default
---

<div class="home">
    <h1 class="page-heading">{{ page.title }}</h1>

  <h2 class="post-list-heading">1. Same Page</h2>
    <ul class="post-list">
      <li>
        <span class="post-meta">Chrome extension for Co-Browsing.</span>
        <h3>
          <a class="post-link" href="https://www.samepage.be">
            SamePage.Be
          </a>
        </h3>
      </li>
    </ul>

    <h2 class="post-list-heading">2. Tension Guru</h2>
    <ul class="post-list">
      <li>
        <span class="post-meta">Internet data backup solution.</span>
        <h3>
          <a class="post-link" href="https://www.tension.guru">
            Tension.Guru
          </a>
        </h3>
      </li>
    </ul>

    <h2 class="post-list-heading">3. Works Always</h2>
    <ul class="post-list">
      <li>
        <span class="post-meta">Task Automation through connecting Web-application API.</span>
        <h3>
          <a class="post-link" href="https://www.worksalways.com">
            worksalways.com
          </a>
        </h3>
      </li>
    </ul>
</div>